{% extends "web/base.html" %}
{% load static i18n crispy_forms_tags %}

{% block content %}
<div class="form-box">
    <div class="login-container" id="login">
        <div class="top">
            <span>Don't have an account? <a href="{% url 'registration_register' %}">Sign Up</a></span>
            <header>Login</header>
        </div>
<form method="post" action="">
    {% csrf_token %}
    <div class="input-box">
        {{ form.username }}
        <i class="bx bx-user"> <span>Username</span></i>
    </div>
    
    <div class="input-box">
        {{ form.password }}
        <i class="bx bx-lock-alt"> <span>Password</span></i>
    </div>

    <div class="input-btn">
        <input type="submit" class="submit" value="{% trans 'Log in' %}" >
    </div>
    <input type="hidden" name="next" value="{{ next }}" />
</form>

</div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const inputs = document.querySelectorAll(".input-box input");

        inputs.forEach(input => {
            const icon = input.closest(".input-box").querySelector("i span");

            // Hide span on page load if input has a value
            if (input.value.trim() !== "" && icon) {
                icon.style.display = "none";
            }

            // Add event listener to hide span when typing
            input.addEventListener("input", function () {
                if (icon) {
                    icon.style.display = this.value.trim() ? "none" : "inline";
                }
            });
        });
    });
</script>
{% endblock %}