{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    {% block css %}{% endblock css %}
    <link rel="stylesheet" href="{% static 'web/css/style.css' %}">
    <title>Teacher</title>
</head>
<body>
 <div class="wrapper">
    {% comment %} {% include "web/partials/header.html" %} {% endcomment %}

    {% block content %}
    
    
    {% endblock  %}

</div>   
 {% block js %}{% endblock js %}
<script>
    function myMenuFunction() {
        var i = document.getElementById("navMenu");

        if(i.className === "nav-menu") {
            i.className += " responsive";
        } else {
            i.className = "nav-menu";
        }
    }

    function login() {
        var x = document.getElementById("login");
        var y = document.getElementById("register");
        var a = document.getElementById("loginBtn");
        var b = document.getElementById("registerBtn");

        x.style.left = "4px";
        y.style.right = "-520px";
        a.className += " white-btn";
        b.className = "btn";
        x.style.opacity = 1;
        y.style.opacity = 0;
    }

    function register() {
        var x = document.getElementById("login");
        var y = document.getElementById("register");
        var a = document.getElementById("loginBtn");
        var b = document.getElementById("registerBtn");

        x.style.left = "-510px";
        y.style.right = "5px";
        a.className = "btn";
        b.className += " white-btn";
        x.style.opacity = 0;
        y.style.opacity = 1;
    }

    function redirectToSecondPage() {
        window.location.href = 'department.html';
    }
</script> 

</body>
</html>
